* {
  box-sizing: border-box; 
  /* fix for button width (includes paddings and borders width in general width
  if generel width is 300px, padding width is 2 + 2 and border width is 1 + 1
  content width is going be smaller (294px)) */
}

p{
  color: #3D3D3D ;
  line-height: 16px;
  font-size: 13px;
}

h1{
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 16px;
  font-weight: 500;
}

h1 span{
  color: #46A358;
}

input::placeholder{
  color: #A5A5A5;
  font-weight: 250;
  font-size: 14px;
}

.inputs_container input {
  text-indent: 10px; /* Moves both placeholder and input text */
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  max-width: 500px;
  margin: auto;
  margin-top: 52px;
}

.container .enter-email-password{
  margin-bottom: 14px;
}

.container button,
.container input,
.container a {
  width: 100%; 
  padding: 0;
  border: 1px solid #EAEAEA;
  height: 40px;
  border-radius: 5px;
  display: block;
}

.inputs_container input:not(:last-child){
  margin-bottom: 16px;
}

.inputs_container input:last-child{
  margin-bottom: 43px;
}

.container button{
  background-color: #46A358;
  margin-bottom: 36px;
  color: white;
  font-weight: 500;
  border: none;
  font-size: 16px;
}

.container .register-with{
  margin-bottom:27px;
  text-align: center;

}

.contunie-with-buttons a {
  text-align: center;
  text-decoration: none;
  color: #727272;
  font-size: 13px; 
  line-height: 16px;
}

.contunie-with-buttons a:not(:last-child){
  margin-bottom: 16px;
}

.contunie-with-buttons a p{
  text-align: center;
}

.contunie-with-buttons .google-facebook-icons{
  padding: 3px;
}

.google-button,
.facebook-button{
  position: relative;
}


.google-icon{
  position: absolute;
  bottom: 10px;
  left: 69px;
}

.facebook-icon{
  position: absolute;
  bottom: 11px;
  left: 65px;
}

.continue-with-google,
.continue-with-facebook{
  position: absolute;
  font-size: 13px ;
  line-height: 16px;
  font-weight: 500;
}


.continue-with-google {
  bottom: 11px;
  left: 98px;
}

.continue-with-facebook{
  bottom: 12px;
  left: 88px;
}
