@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cera_pro_regular-webfont.eot');
  src: url('../fonts/cera_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cera_pro_regular-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_regular-webfont.woff') format('woff'),
       url('../fonts/cera_pro_regular-webfont.ttf') format('truetype'),
       url('../fonts/cera_pro_regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_problack';
  src: url('../fonts/cera_pro_black-webfont.eot');
  src: url('../fonts/cera_pro_black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cera_pro_black-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_black-webfont.woff') format('woff'),
       url('../fonts/cera_pro_black-webfont.ttf') format('truetype'),
       url('../fonts/cera_pro_black-webfont.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_promedium';
  src: url('../fonts/cera_pro_medium-webfont.eot');
  src: url('../fonts/cera_pro_medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cera_pro_medium-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_medium-webfont.woff') format('woff'),
       url('../fonts/cera_pro_medium-webfont.ttf') format('truetype'),
       url('../fonts/cera_pro_medium-webfont.svg#cera_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
font-family: cera_proregular, sans-serif;
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header{
  padding-top: 30px;
  margin-bottom: 12px;
}

.main-header nav ul{
  display: flex;
  align-items: center;
  gap: 50px;
}

.main-header nav ul li{
  position: relative;
}

.header-container{
  max-width: 1200px;
  padding-bottom: 18px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #46A35880;
 }

 .main-container{
  background-color: #F5F5F580;
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.content-container{
  margin-left: 40px;
}

.home-text:hover::after{
  font-weight: 700;
  position: absolute;
  content: '';
  width: 100%;
  border-bottom: 3px solid #46A358;
  right: 0px;
  top: 43px
}

.login-button{
  padding: 7px 17px;
  background-color: #46A358;
  text-decoration: none;
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  font-family: cera_promedium;
}

.login-button svg{
  margin-right: 4px;
}

.wlc-to-grnshp{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
  font-family: cera_promedium;
}

.main-text{
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  font-family: cera_problack;
  margin-bottom: 5px;
}

.main-text span{
  color: #46A358;
}

.under-main-text{
  line-height: 24px;
  margin-bottom: 44px;
}

.shop-now-button{
  font-family: cera_promedium;
  background-color: #46A358;
  text-decoration: none;
  border-radius: 6px;
  color: white;
  padding: 10px 27px;
}