body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.calendar {
  background-color: rgb(217, 243, 224);
  display: grid;
  grid-template-areas:
    "aside header"
    "aside body";
}

.calendar-header {
  grid-area: header;
  display: grid;
  /* grid-auto-flow: row; */
  grid-template-columns: repeat(5, 230px);
  grid-template-rows: repeat(1, 80px);
  column-gap: 10px;
  justify-items: center;
  align-items: center;
}

.calendar-aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: repeat(1, 300px);
  grid-template-rows: repeat(24, 45px);
  grid-row-start: 2;
  justify-items: center;
}

.calendar-body {
  display: grid;
  grid-area: body;
  grid-template-columns: repeat(5, 230px);
  grid-template-rows: repeat(24, 45px);
  /* grid-auto-flow: column; */
  column-gap: 10px;
  position: relative;
  border: 1px solid red;
}

.day-label {
  width: 200px;
  height: 50px;
  background-color: rgb(241, 49, 49);
  border: 1px solid black;
}

.hour-label {
  width: 100px;
  height: 40px;
  background-color: rgb(38, 226, 101);
  border: 1px solid black;
}

.events-container {
  column-gap: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 230px);
  grid-template-rows: repeat(24, 45px);
  grid-auto-flow: column;
  pointer-events: none;
}

.event {
  background-color: rgba(24, 113, 186, 0.8);
  text-align: center;
  border-radius: 15px;
}

.event1 {
  grid-column: 4;
  grid-row: 5 / span 4;
}

.event2 {
  grid-column: 1;
  grid-row: 13 / span 3;
  background-color: rgba(29, 109, 175, 0.8);
}

.event3 {
  grid-column: 3;
  grid-row: 9 / span 2;
}
