body{
    background-color: rgb(251, 253, 255);
}

.galery {
    max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px; 
  gap: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit:cover;

}

.grid-item{
    border-radius: 15px;
    overflow: hidden;

}

.large {
  grid-row: span 2;
  grid-column: span 2;
}

.tall{
  grid-column: span 2;


}

.wide{
  grid-row: span 2;

}
