@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cera_pro_regular-webfont.eot');
  src: url('../fonts/cera_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cera_pro_regular-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_regular-webfont.woff') format('woff'),
       url('../fonts/cera_pro_regular-webfont.ttf') format('truetype'),
       url('../fonts/cera_pro_regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_problack';
  src: url('../fonts/cera_pro_black-webfont.eot');
  src: url('../fonts/cera_pro_black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cera_pro_black-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_black-webfont.woff') format('woff'),
       url('../fonts/cera_pro_black-webfont.ttf') format('truetype'),
       url('../fonts/cera_pro_black-webfont.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_promedium';
  src: url('../fonts/cera_pro_medium-webfont.eot');
  src: url('../fonts/cera_pro_medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cera_pro_medium-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_medium-webfont.woff') format('woff'),
       url('../fonts/cera_pro_medium-webfont.ttf') format('truetype'),
       url('../fonts/cera_pro_medium-webfont.svg#cera_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: cera_proregular, sans-serif;
}

.container{
  width: 1200px; 
  padding-top: 170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.left-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 310px;
}

.left-container div{
    background-color: #FBFBFB;
}

.right-container{
  display: flex;
  flex-wrap: wrap;
  width: 840px;
  row-gap: 30px;
}

.nav-container{
  display: flex;
  width: 840px;
  justify-content: space-between;
font-size: 15px;
line-height: 16px;
}

.nav-container ul{
  display: flex;
  column-gap: 40px;
}

.sort-by-container{
  display: flex;
  height: 20px;
  column-gap: 5px;
}

.sort-by-container img{
  align-self: flex-end;
  
}

.items-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 70px;
}

.items-container article{
  display: flex;
  flex-flow: column wrap;
  row-gap: 7px;
}

.items-container img{
  width: 250px;
  height: 250px;
  border: 1px solid #def1e2;
  border-radius: 5px;
}

.items-container a {
  text-decoration: none;
  color: black;
}

.aside-container ul{
  background-color: #FBFBFB;
}

.text-categories{
margin-bottom: 7px;
padding-left: 18px;
padding-top: 14px;
font-size: 18px;
line-height: 16px;
}

.item-price{
  color: #46A358;
}

.categories-list{
  padding-left: 30px;
}

.categories-list li{
  line-height: 40px;
  font-size: 15px;
  font-weight: 400;
}

.categories-list li:hover{
  color: #46A358;
  font-weight: 700;
}
  
