@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cera_pro_regular-webfont.eot');
  src: url('../fonts/cera_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cera_pro_regular-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_regular-webfont.woff') format('woff'),
       url('../fonts/cera_pro_regular-webfont.ttf') format('truetype'),
       url('../fonts/cera_pro_regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_problack';
  src: url('../fonts/cera_pro_black-webfont.eot');
  src: url('../fonts/cera_pro_black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cera_pro_black-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_black-webfont.woff') format('woff'),
       url('../fonts/cera_pro_black-webfont.ttf') format('truetype'),
       url('../fonts/cera_pro_black-webfont.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera_promedium';
  src: url('../fonts/cera_pro_medium-webfont.eot');
  src: url('../fonts/cera_pro_medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cera_pro_medium-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_medium-webfont.woff') format('woff'),
       url('../fonts/cera_pro_medium-webfont.ttf') format('truetype'),
       url('../fonts/cera_pro_medium-webfont.svg#cera_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: cera_proregular, sans-serif;
}

.container{
  padding-top: 170px;
  display: flex;
}

.items-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.items-container article{
  display: flex;
  flex-flow: column wrap;
}

.items-container img{
  width: 250px;
  height: 250px;
}

.items-container a {
  text-decoration: none;
  color: black;
}


.aside-container{
  margin-left: 135px;
  background-color: #FBFBFB;
  display: flex;
  flex-direction: column;
  width: 310px;
}

.aside-container ul{
  margin-bottom: 380px;
}

.text-categories{
margin-bottom: 7px;
padding-left: 18px;
padding-top: 14px;
font-size: 18px;
line-height: 16px;
}

.item-price{
  color: #46A358;
}

.categories-list{
  padding-left: 30px;
}

.categories-list li{
  line-height: 40px;
  font-size: 15px;
  font-weight: 400;
}

.categories-list li:hover{
  color: #46A358;
  font-weight: 700;

}